.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}
