.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 7rem);
  background-color: #fff;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}
